#cenovnik {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/cenovnik3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  @include flex(column, flex-start, center, false);
  color: #fff;
  padding: 200px 100px;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  @include tablet {
    clip-path: none;
    padding: 100px 100px;
  }
  @include telefon {
    clip-path: none;
    padding: 50px 20px;
  }
  .note {
    @include flex(column, center, center, false);
    h2 {
      font-size: 3rem;
      position: relative;
      padding-bottom: 10px;
      &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        background: linear-gradient(to right bottom, #fff, #387f7e);
        top: 50%;
        left: -110%;
        @include telefon {
          width: 50%;
          left: -100px;
        }
      }
      &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        background: linear-gradient(to right bottom, #387f7e, #fff);
        top: 50%;
        right: -110%;
        @include telefon {
          width: 50%;
          right: -100px;
        }
      }
    }
    p {
      font-size: 1.5rem;
      font-weight: bold;
      @include tabletL {
        font-size: 1.2rem;
      }
      @include telefon {
        text-align: center;
      }
    }
  }
  .container {
    @include flex(row, space-between, flex-start, false);
    width: 100%;
    padding: 100px 0;
    @include tablet {
      flex-direction: column;
    }
    article {
      position: relative;
      background: rgba(37, 36, 60, 0.5);
      width: 25%;
      padding: 50px;
      @include flex(column, flex-start, center, false);
      @include tabletL {
        padding: 20px;
        width: 30%;
      }
      @include tablet {
        width: 100%;
        margin: 20px 0;
      }
      h3 {
        font-size: 2rem;
        color: #78bfbe;
        text-transform: uppercase;
      }
      .cena {
        font-size: 2.5rem;
        font-weight: bold;
        padding: 20px 0;
      }
      .cena-rs {
        position: relative;
        &:before {
          position: absolute;
          content: "od";
          top: 50%;
          left: -30px;
          font-size: 1rem;
          color: #78bfbe;
        }
        &:after {
          position: absolute;
          content: "RSD";
          top: 50%;
          right: -40px;
          font-size: 1rem;
          color: #78bfbe;
          font-weight: bold;
        }
      }
      .cena-en {
        position: relative;
        &:before {
          position: absolute;
          content: "from";
          top: 50%;
          left: -50px;
          font-size: 1rem;
          color: #78bfbe;
        }
        &:after {
          position: absolute;
          content: "USD";
          top: 50%;
          right: -40px;
          font-size: 1rem;
          color: #78bfbe;
          font-weight: bold;
        }
      }
      ul {
        text-align: center;
        li {
          padding: 0.5em 0;
          font-size: 20px;
          font-weight: bold;
        }
      }
      &:before,
      &:after {
        width: 100%;
        height: 10px;
        position: absolute;
        content: " ";
        background: linear-gradient(to right, #fff, #387f7e, #fff);
        left: 0;
      }
      &:before {
        top: 0;
      }
      &:after {
        bottom: 0;
      }
      .btn {
        position: relative;
        width: 270px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        background: #2685b8;
        letter-spacing: 2px;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 60px;
        font-weight: bold;
        overflow: hidden;
        margin: 20px 0;
        box-shadow: 0 0 44px 0 #387f7e, inset 0 0 30px rgba(0, 0, 0, 1);
        -webkit-box-shadow: 0 0 44px 0 #387f7e, inset 0 0 30px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0 0 44px 0 #387f7e, inset 0 0 30px rgba(0, 0, 0, 1);
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: -70px;
          width: 50px;
          height: 100%;
          background: rgba(255, 255, 255, 0.1);
          transform: skewX(-15deg);
          transition: left 0.8s cubic-bezier(0.19, 1, 0.22, 1);
        }
        &:hover:before {
          left: 120%;
          transition: left 0.8s cubic-bezier(0.19, 1, 0.22, 1);
        }
        @include tabletL {
          width: 230px;
          font-size: 16px;
        }
      }
    }
  }
  // .wrapper {
  //   position: relative;
  //   background: rgba(37, 36, 60, 0.5);
  //   width: 600px;
  //   padding: 50px;
  //   @include flex(column, flex-start, center, false);
  //   @include telefon {
  //     width: 100%;
  //     text-align: center;
  //   }
  //   h3 {
  //     font-size: 2rem;
  //     color: #78bfbe;
  //     text-transform: uppercase;
  //     padding: 10px 0;
  //   }
  //   &:before,
  //   &:after {
  //     width: 100%;
  //     height: 10px;
  //     position: absolute;
  //     content: " ";
  //     background: linear-gradient(to right, #fff, #387f7e, #fff);
  //     left: 0;
  //   }
  //   &:before {
  //     top: 0;
  //   }
  //   &:after {
  //     bottom: 0;
  //   }
  //   ul {
  //     text-align: center;
  //     li {
  //       font-size: 20px;
  //       font-weight: bold;
  //       padding: 5px 0;
  //     }
  //   }
  // }
}
