@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Raleway&display=swap");
@-webkit-keyframes logo-glow {
  0% {
    box-shadow: 0 0 20px 5px rgba(218, 218, 218, 0.5);
  }
  10% {
    box-shadow: 0 0 10px 2px rgba(218, 218, 218, 0.5);
  }
  25% {
    box-shadow: 0 0 30px 10px rgba(218, 218, 218, 0.3);
  }
  40% {
    box-shadow: 0 0 10px 2px rgba(218, 218, 218, 0.5);
  }
  70% {
    box-shadow: 0 0 25px 8px rgba(218, 218, 218, 0.5);
  }
  100% {
    box-shadow: 0 0 20px 5px rgba(218, 218, 218, 0.5);
  }
}
@keyframes logo-glow {
  0% {
    box-shadow: 0 0 20px 5px rgba(218, 218, 218, 0.5);
  }
  10% {
    box-shadow: 0 0 10px 2px rgba(218, 218, 218, 0.5);
  }
  25% {
    box-shadow: 0 0 30px 10px rgba(218, 218, 218, 0.3);
  }
  40% {
    box-shadow: 0 0 10px 2px rgba(218, 218, 218, 0.5);
  }
  70% {
    box-shadow: 0 0 25px 8px rgba(218, 218, 218, 0.5);
  }
  100% {
    box-shadow: 0 0 20px 5px rgba(218, 218, 218, 0.5);
  }
}
@-webkit-keyframes slide-left {
  0% {
    left: 0;
  }
  99% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes slide-left {
  0% {
    left: 0;
  }
  99% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes slide-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(500px);
  }
}
@keyframes slide-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(500px);
  }
}
@-webkit-keyframes p-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes p-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif;
}

#wrapper {
  display: none;
}
@media (max-width: 1024px) {
  #wrapper {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    transition: width 0.5s ease;
    background: linear-gradient(to left bottom, #0f2027, #203a43, #2c5364);
    width: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #wrapper .telefon {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  #wrapper .telefon a {
    position: relative;
    color: #dadada;
    font-size: 2rem;
    opacity: 0.8;
    font-family: "Oswald", sans-serif;
  }
}

#button {
  visibility: hidden;
}
@media (max-width: 1024px) {
  #button {
    visibility: visible;
    z-index: 99;
    position: fixed;
    right: 30px;
    top: 20px;
    cursor: pointer;
    width: 50px;
    height: 38px;
  }
  #button #prva,
#button #druga,
#button #treca {
    height: 4px;
    position: absolute;
    left: 5px;
    width: 40px;
    cursor: pointer;
    transition: all 0.5s ease;
    background: #dadada;
  }
  #button #prva {
    top: 5px;
  }
  #button #druga {
    top: 17px;
  }
  #button #treca {
    top: 29px;
  }
}

main {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
main nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: transparent;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: background-color 0.2s ease-in;
}
main nav .logo {
  position: relative;
  top: 30px;
  left: 20px;
  padding: 5px;
  background: #333;
  border: 2px solid #fff;
  box-shadow: 0 0 20px 5px #dadada;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 99;
}
main nav .logo img {
  width: 120px;
}
@media (max-width: 1024px) {
  main nav .logo img {
    width: 80px;
  }
}
main nav .logo:hover {
  -webkit-animation: logo-glow 1s infinite;
          animation: logo-glow 1s infinite;
}
main nav .meni {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  z-index: 9;
}
@media (max-width: 1024px) {
  main nav .meni {
    display: none;
  }
}
main nav .meni a {
  line-height: 1em;
  margin: 0 30px;
  position: relative;
  color: #fff;
  font-size: 2rem;
  opacity: 0.8;
  font-family: "Oswald", sans-serif;
  transition: 0.2s ease-in;
}
main nav .meni a:after {
  position: absolute;
  content: " ";
  width: 0;
  height: 3px;
  background: #dadada;
  bottom: -2px;
  left: 0;
  transition: 0.2s ease-in;
}
main nav .meni a:hover:after {
  width: 100%;
}
main nav .lang {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 1024px) {
  main nav .lang {
    margin-right: 100px;
  }
}
main nav .lang a {
  padding-right: 10px;
  padding-top: 5px;
}
main nav .lang img {
  width: 30px;
  height: auto;
}
main .sticky {
  background: linear-gradient(to left bottom, #0f2027, #203a43, #2c5364);
  box-shadow: 0px 5px 19px 0px #000000;
}

#particles-js {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: 0 10px 16px -8px rgba(0, 0, 0, 0.75);
}
#particles-js .banner-under {
  position: absolute;
  background: linear-gradient(-15deg, #303632 0%, #515351 45%, #8a8d8b 55%, #515351 75%, #303632 100%);
  opacity: 0.85;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 640px;
  height: 520px;
  -webkit-clip-path: polygon(18% 10%, 85% 22%, 95% 70%, 52% 92%, 15% 72%, 0% 60%);
          clip-path: polygon(18% 10%, 85% 22%, 95% 70%, 52% 92%, 15% 72%, 0% 60%);
}
@media (max-width: 1024px) {
  #particles-js .banner-under {
    left: 50%;
    width: 600px;
  }
}
@media (max-width: 768px) {
  #particles-js .banner-under {
    display: none;
  }
}
@media (max-width: 425px) {
  #particles-js .banner-under {
    display: none;
  }
}
#particles-js .banner {
  position: absolute;
  background: linear-gradient(120deg, white 0%, #dadada 55%, white 65%, #e9e9e9 75%, #bebebe 100%);
  opacity: 0;
  padding: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(5% 5%, 81% 0, 100% 50%, 92% 97%, 17% 100%, 0% 50%);
          clip-path: polygon(5% 5%, 81% 0, 100% 50%, 92% 97%, 17% 100%, 0% 50%);
}
@media (max-width: 1024px) {
  #particles-js .banner {
    width: 600px;
  }
}
@media (max-width: 768px) {
  #particles-js .banner {
    -webkit-clip-path: none;
            clip-path: none;
    width: 70%;
  }
}
@media (max-width: 425px) {
  #particles-js .banner {
    -webkit-clip-path: none;
            clip-path: none;
    width: 100%;
    left: 0;
    transform: translate(0, -50%);
    padding: 40px 20px;
  }
}
#particles-js .banner h1 {
  font-size: 3rem;
  color: #181815;
}
@media (max-width: 1024px) {
  #particles-js .banner h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  #particles-js .banner h1 {
    font-size: 2.2rem;
  }
}
@media (max-width: 425px) {
  #particles-js .banner h1 {
    text-align: center;
  }
}
#particles-js .banner h1 span {
  color: #2c5364;
}
#particles-js nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 425px) {
  #particles-js nav {
    width: 100%;
  }
}
#particles-js nav .lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#particles-js nav .logo {
  top: 10px;
  left: 20px;
  background: #222;
  padding: 5px;
  border: 2px solid rgba(255, 214, 5, 0.4);
  box-shadow: 0 0 20px 5px rgba(255, 214, 5, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 99;
}
#particles-js nav .logo img {
  width: 120px;
}
@media (max-width: 1024px) {
  #particles-js nav .logo img {
    width: 80px;
  }
}
#particles-js nav .logo:hover {
  -webkit-animation: logo-glow 1s infinite;
          animation: logo-glow 1s infinite;
}

#particles-js.active {
  transition: left 0.5s ease-out;
  left: 0;
}

#o-nama {
  padding: 100px 100px;
}
#o-nama h2 {
  font-size: 3rem;
  text-align: center;
  color: #222;
}
#o-nama h2 span {
  color: #2685b8;
}
@media (max-width: 1024px) {
  #o-nama {
    padding: 50px;
  }
}
@media (max-width: 768px) {
  #o-nama {
    padding: 20px;
  }
}
#o-nama .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
@media (max-width: 1024px) {
  #o-nama .container {
    min-height: 100vh;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  #o-nama .container {
    min-height: 100vh;
    flex-direction: column;
  }
}
#o-nama .container .left {
  width: 50%;
  height: 100%;
  background: url(../img/about.png);
  background-repeat: no-repeat;
  background-size: 700px auto;
  background-position: center;
}
@media (max-width: 1024px) {
  #o-nama .container .left {
    width: 100%;
    height: 100vh;
    background-size: 70%;
  }
}
@media (max-width: 768px) {
  #o-nama .container .left {
    width: 100%;
    height: 100vh;
    background-size: 100%;
  }
}
#o-nama .container .right {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1024px) {
  #o-nama .container .right {
    width: 100%;
  }
}
@media (max-width: 768px) {
  #o-nama .container .right {
    width: 100%;
  }
}
#o-nama .container .right p {
  padding: 5px 20px;
  font-size: 22px;
}
@media (max-width: 768px) {
  #o-nama .container .right p {
    font-size: 18px;
  }
}

#usluge {
  padding: 0px 50px;
  width: 100%;
  min-height: 100vh;
}
@media (max-width: 1024px) {
  #usluge {
    padding: 0;
  }
}
#usluge .container {
  width: 100%;
  background: radial-gradient(#0053a3 0%, #fff 70%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 100px 100px 50px;
}
@media (max-width: 1024px) {
  #usluge .container {
    padding: 20px 50px;
  }
}
@media (max-width: 425px) {
  #usluge .container {
    padding: 0;
  }
}
#usluge .container .btn {
  cursor: pointer;
  position: relative;
  width: 240px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background: #333333;
  border: 2px solid #fff;
  letter-spacing: 2px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 60px;
  font-weight: bold;
  box-shadow: inset 0 0 30px #271206;
  overflow: hidden;
}
#usluge .container .btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -70px;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transform: skewX(-15deg);
  transition: left 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
#usluge .container .btn:hover:before {
  left: 120%;
  transition: left 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (max-width: 1024px) {
  #usluge .container .btn {
    width: 200px;
  }
}
@media (max-width: 425px) {
  #usluge .container .btn {
    width: 170px;
    letter-spacing: 0;
    font-size: 16px;
    margin-bottom: 20px;
  }
}
#usluge .container h2 {
  font-size: 3rem;
  padding-bottom: 50px;
  color: #0f2027;
  letter-spacing: 2px;
}
#usluge .container .left {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
@media (max-width: 1024px) {
  #usluge .container .left {
    padding: 50px 0;
  }
}
@media (max-width: 768px) {
  #usluge .container .left {
    flex-direction: column;
  }
}
#usluge .container .left .img {
  width: 50%;
}
@media (max-width: 768px) {
  #usluge .container .left .img {
    width: 100%;
  }
}
#usluge .container .left .img img {
  width: 100%;
}
#usluge .container .left .wrapper {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: #faffff;
  padding: 40px 0;
  position: relative;
  left: -40px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
#usluge .container .left .wrapper h3 {
  padding-bottom: 40px;
  font-size: 2rem;
  color: #01346d;
}
@media (max-width: 768px) {
  #usluge .container .left .wrapper {
    width: 90%;
    left: 0;
    top: -40px;
  }
}
@media (max-width: 425px) {
  #usluge .container .left .wrapper {
    width: 95%;
    padding: 20px 0;
  }
}
#usluge .container .left .wrapper .wrapper-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
#usluge .container .left .wrapper .wrapper-container .wrapper-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column-reverse;
  width: 30%;
  height: 100%;
}
#usluge .container .left .wrapper .wrapper-container .wrapper-icon img {
  width: 64px;
  border-radius: 50%;
}
#usluge .container .left .wrapper .wrapper-container .wrapper-icon h4 {
  padding-top: 20px;
  color: #01346d;
  font-size: 1.5rem;
  text-align: center;
}
@media (max-width: 1024px) {
  #usluge .container .left .wrapper .wrapper-container .wrapper-icon h4 {
    font-size: 1rem;
  }
}
#usluge .container .right {
  padding: 120px 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
}
@media (max-width: 768px) {
  #usluge .container .right {
    flex-direction: column;
  }
}
#usluge .container .right .img {
  width: 50%;
}
@media (max-width: 768px) {
  #usluge .container .right .img {
    width: 100%;
  }
}
#usluge .container .right .img img {
  width: 100%;
}
#usluge .container .right .wrapper {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: #faffff;
  padding: 30px 0;
  position: relative;
  left: 40px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  #usluge .container .right .wrapper {
    width: 90%;
    top: -40px;
    left: 0;
  }
}
@media (max-width: 425px) {
  #usluge .container .right .wrapper {
    width: 95%;
    padding: 20px 0;
  }
}
#usluge .container .right .wrapper h3 {
  padding-bottom: 40px;
  font-size: 2rem;
  color: #01346d;
}
#usluge .container .right .wrapper .wrapper-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
}
#usluge .container .right .wrapper .wrapper-container .wrapper-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  width: 30%;
  height: 100%;
}
#usluge .container .right .wrapper .wrapper-container .wrapper-icon img {
  width: 64px;
  border-radius: 50%;
}
#usluge .container .right .wrapper .wrapper-container .wrapper-icon h4 {
  text-align: center;
  padding-top: 20px;
  color: #01346d;
  font-size: 1.5rem;
}
@media (max-width: 1024px) {
  #usluge .container .right .wrapper .wrapper-container .wrapper-icon h4 {
    font-size: 1rem;
  }
}

#cenovnik {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/cenovnik.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding: 200px 100px;
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}
@media (max-width: 768px) {
  #cenovnik {
    -webkit-clip-path: none;
            clip-path: none;
    padding: 100px 100px;
  }
}
@media (max-width: 425px) {
  #cenovnik {
    -webkit-clip-path: none;
            clip-path: none;
    padding: 50px 20px;
  }
}
#cenovnik .note {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#cenovnik .note h2 {
  font-size: 3rem;
  position: relative;
  padding-bottom: 10px;
}
#cenovnik .note h2:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background: linear-gradient(to right bottom, #fff, #387f7e);
  top: 50%;
  left: -110%;
}
@media (max-width: 425px) {
  #cenovnik .note h2:before {
    width: 50%;
    left: -100px;
  }
}
#cenovnik .note h2:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background: linear-gradient(to right bottom, #387f7e, #fff);
  top: 50%;
  right: -110%;
}
@media (max-width: 425px) {
  #cenovnik .note h2:after {
    width: 50%;
    right: -100px;
  }
}
#cenovnik .note p {
  font-size: 1.5rem;
  font-weight: bold;
}
@media (max-width: 1024px) {
  #cenovnik .note p {
    font-size: 1.2rem;
  }
}
@media (max-width: 425px) {
  #cenovnik .note p {
    text-align: center;
  }
}
#cenovnik .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  padding: 100px 0;
}
@media (max-width: 768px) {
  #cenovnik .container {
    flex-direction: column;
  }
}
#cenovnik .container article {
  position: relative;
  background: rgba(37, 36, 60, 0.5);
  width: 25%;
  padding: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1024px) {
  #cenovnik .container article {
    padding: 20px;
    width: 30%;
  }
}
@media (max-width: 768px) {
  #cenovnik .container article {
    width: 100%;
    margin: 20px 0;
  }
}
#cenovnik .container article h3 {
  font-size: 2rem;
  color: #78bfbe;
  text-transform: uppercase;
}
#cenovnik .container article .cena {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 20px 0;
}
#cenovnik .container article .cena-rs {
  position: relative;
}
#cenovnik .container article .cena-rs:before {
  position: absolute;
  content: "od";
  top: 50%;
  left: -30px;
  font-size: 1rem;
  color: #78bfbe;
}
#cenovnik .container article .cena-rs:after {
  position: absolute;
  content: "RSD";
  top: 50%;
  right: -40px;
  font-size: 1rem;
  color: #78bfbe;
  font-weight: bold;
}
#cenovnik .container article .cena-en {
  position: relative;
}
#cenovnik .container article .cena-en:before {
  position: absolute;
  content: "from";
  top: 50%;
  left: -50px;
  font-size: 1rem;
  color: #78bfbe;
}
#cenovnik .container article .cena-en:after {
  position: absolute;
  content: "USD";
  top: 50%;
  right: -40px;
  font-size: 1rem;
  color: #78bfbe;
  font-weight: bold;
}
#cenovnik .container article ul {
  text-align: center;
}
#cenovnik .container article ul li {
  padding: 0.5em 0;
  font-size: 20px;
  font-weight: bold;
}
#cenovnik .container article:before, #cenovnik .container article:after {
  width: 100%;
  height: 10px;
  position: absolute;
  content: " ";
  background: linear-gradient(to right, #fff, #387f7e, #fff);
  left: 0;
}
#cenovnik .container article:before {
  top: 0;
}
#cenovnik .container article:after {
  bottom: 0;
}
#cenovnik .container article .btn {
  position: relative;
  width: 270px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background: #2685b8;
  letter-spacing: 2px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 60px;
  font-weight: bold;
  overflow: hidden;
  margin: 20px 0;
  box-shadow: 0 0 44px 0 #387f7e, inset 0 0 30px black;
  -webkit-box-shadow: 0 0 44px 0 #387f7e, inset 0 0 30px black;
  -moz-box-shadow: 0 0 44px 0 #387f7e, inset 0 0 30px black;
}
#cenovnik .container article .btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -70px;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transform: skewX(-15deg);
  transition: left 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
#cenovnik .container article .btn:hover:before {
  left: 120%;
  transition: left 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (max-width: 1024px) {
  #cenovnik .container article .btn {
    width: 230px;
    font-size: 16px;
  }
}

#portfolio {
  width: 100%;
  padding: 100px;
}
@media (max-width: 1024px) {
  #portfolio {
    padding: 30px 15px;
  }
}
#portfolio h2 {
  font-size: 3rem;
  padding-bottom: 10px;
  color: #0f2027;
  text-align: center;
}
#portfolio .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}
#portfolio .wrapper .card {
  cursor: pointer;
  width: calc(50% - 2rem);
  min-width: calc(50% - 2rem);
  height: 400px;
  min-height: 400px;
  perspective: 1000px;
  margin: 1rem;
  position: relative;
}
@media (max-width: 768px) {
  #portfolio .wrapper .card {
    min-width: 90%;
  }
}
@media (max-width: 425px) {
  #portfolio .wrapper .card {
    height: 260px;
  }
}
#portfolio .wrapper .card .front,
#portfolio .wrapper .card .back {
  display: flex;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}
#portfolio .wrapper .card .front {
  background-size: 100% auto;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  background-repeat: no-repeat;
}
#portfolio .wrapper .card .front:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.25;
  z-index: -1;
}
#portfolio .wrapper .card:hover .front {
  transform: rotateY(180deg);
}
#portfolio .wrapper .card:nth-child(even):hover .front {
  transform: rotateY(-180deg);
}
#portfolio .wrapper .card .back {
  background: linear-gradient(#0f2027, #203a43, #2c5364);
  transform: rotateY(-180deg);
  padding: 0 2em;
}
#portfolio .wrapper .card .back h3 {
  color: #fff;
  font-size: 2rem;
  padding: 20px 0;
}
#portfolio .wrapper .card .back p {
  color: #fff;
  padding: 20px 0;
}
#portfolio .wrapper .card:hover .back {
  transform: rotateY(0deg);
}
#portfolio .wrapper .card:nth-child(even) .back {
  transform: rotateY(180deg);
}
#portfolio .wrapper .card:nth-child(even) .back .button {
  background: linear-gradient(135deg, #e61a80, #e61a3c);
}
#portfolio .wrapper .card:nth-child(even) .back .button:before {
  box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
  background-color: rgba(230, 26, 60, 0.25);
}
#portfolio .wrapper .card:nth-child(even):hover .back {
  transform: rotateY(0deg);
}

#kontakt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image: url(../img/kontakt.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 200px;
  padding-bottom: 100px;
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
}
#kontakt .wrapper {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  #kontakt .wrapper {
    width: 80%;
  }
}
@media (max-width: 425px) {
  #kontakt .wrapper {
    width: 90%;
  }
}
#kontakt .wrapper .title-box {
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
#kontakt .wrapper .title-box h2 {
  font-size: 3rem;
}
#kontakt .wrapper form {
  background: rgba(37, 36, 60, 0.5);
  position: relative;
  width: 100%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#kontakt .wrapper form:before, #kontakt .wrapper form:after {
  width: 100%;
  height: 10px;
  position: absolute;
  content: " ";
  background: linear-gradient(to right, #fff, #387f7e, #fff);
  left: 0;
}
#kontakt .wrapper form:before {
  top: 0;
}
#kontakt .wrapper form:after {
  bottom: 0;
}
@media (max-width: 1024px) {
  #kontakt .wrapper form {
    padding: 100px 20px;
  }
}
@media (max-width: 425px) {
  #kontakt .wrapper form {
    padding: 50px 20px;
  }
}
#kontakt .wrapper form #error-message {
  color: #f35555;
  font-weight: bold;
}
#kontakt .wrapper form .form-group {
  margin-bottom: 1.5em;
}
#kontakt .wrapper form .form-group .form-label {
  color: #fff;
  font-size: 1.5rem;
  display: block;
  padding: 20px 0;
}
#kontakt .wrapper form .form-group .form-control {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 0;
  margin-top: 10px;
  border-style: none none solid none;
  border-color: #fff;
  padding: 10px;
  background: transparent;
  color: #fff;
  font-size: 1.2rem;
}
#kontakt .wrapper form .form-group .form-control:focus {
  outline: none;
}
#kontakt .wrapper form .form-group #message {
  background: transparent;
  border-style: none none solid none;
  border-color: #fff;
  color: #fff;
  resize: none;
  font-size: 18px;
  font-size: 1.2rem;
}
#kontakt .wrapper form .form-group #message:focus {
  outline: none;
}
#kontakt .wrapper form input,
#kontakt .wrapper form textarea,
#kontakt .wrapper form button {
  width: 100%;
  font-family: "Raleway", sans-serif;
}
#kontakt .wrapper form .submit {
  cursor: pointer;
  position: relative;
  width: 270px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background: #2685b8;
  letter-spacing: 2px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 60px;
  font-weight: bold;
  overflow: hidden;
  margin: 20px 0;
  box-shadow: 0 0 44px 0 #387f7e, inset 0 0 30px black;
  -webkit-box-shadow: 0 0 44px 0 #387f7e, inset 0 0 30px black;
  -moz-box-shadow: 0 0 44px 0 #387f7e, inset 0 0 30px black;
}
#kontakt .wrapper form .submit:before {
  content: "";
  position: absolute;
  top: 0;
  left: -70px;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transform: skewX(-15deg);
  transition: left 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
#kontakt .wrapper form .submit:hover:before {
  left: 120%;
  transition: left 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (max-width: 1024px) {
  #kontakt .wrapper form .submit {
    width: 230px;
  }
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#0f2027, #203a43, #2c5364);
  border-top: 1px solid #444;
}
footer .container {
  padding: 100px 0;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 768px) {
  footer .container {
    width: 70%;
  }
}
@media (max-width: 425px) {
  footer .container {
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  footer .container .socials {
    width: 100%;
    padding: 30px 0;
  }
}
footer .container .socials img {
  width: 60px;
}
@media (max-width: 425px) {
  footer .container .info {
    width: 100%;
  }
}
footer .container .info a {
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
footer .container .info a span {
  margin-left: 10px;
}
footer .container .info img {
  width: 60px;
}
footer .copy p {
  text-align: center;
  color: #fff;
  line-height: 3em;
}

.fadein-item {
  opacity: 0;
}

.slidefromleft {
  transform: translate(-500px);
}

.slidefromright {
  transform: translate(500px);
}

.slidefrombottom {
  transform: translate(0, 200px);
}

.slidefromtop {
  transform: translate(0, -200px);
}

.fadein {
  opacity: 0;
}

.modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  padding: 50px;
  z-index: 9999;
  background: linear-gradient(-15deg, #303632 0%, #515351 45%, #8a8d8b 55%, #515351 75%, #303632 100%);
  opacity: 0.9;
  border: 2px solid #515351;
  text-align: left;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  visibility: hidden;
}
@media (max-width: 425px) {
  .modal-overlay {
    width: 400px;
    overflow: scroll;
    padding: 20px;
    height: 500px;
  }
}
.modal-overlay .modal-container {
  padding: 20px 0;
}
.modal-overlay .modal-container h3 {
  font-size: 2rem;
  color: #fff;
  padding-bottom: 20px;
  text-align: center;
}
.modal-overlay .modal-container p {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
}
.modal-overlay .modal-container .close-btn {
  position: absolute;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  top: 10px;
  right: 10px;
  color: #fff;
  font-weight: bold;
}

.open-modal {
  visibility: visible;
  z-index: 10;
  transition: 1s all ease-out;
}

.container-uspesna {
  background-image: url(../img/uspesna.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.container-uspesna .wrapper {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.5) 0%, rgba(218, 218, 218, 0.5) 55%, rgba(255, 255, 255, 0.5) 65%, rgba(233, 233, 233, 0.5) 75%, rgba(190, 190, 190, 0.5) 100%);
  border-radius: 5px;
}
.container-uspesna .wrapper h3 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 768px) {
  .container-uspesna .wrapper h3 {
    text-align: center;
  }
}
.container-uspesna .wrapper a {
  cursor: pointer;
  position: relative;
  width: 240px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background: #f03a05;
  letter-spacing: 2px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 60px;
  font-weight: bold;
  box-shadow: inset 0 0 30px #271206;
  overflow: hidden;
}
.container-uspesna .wrapper a:before {
  content: "";
  position: absolute;
  top: 0;
  left: -70px;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transform: skewX(-15deg);
  transition: left 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.container-uspesna .wrapper a:hover:before {
  left: 120%;
  transition: left 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (max-width: 1024px) {
  .container-uspesna .wrapper a {
    width: 200px;
  }
}
@media (max-width: 425px) {
  .container-uspesna .wrapper a {
    width: 200px;
    letter-spacing: 0;
    font-size: 16px;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .container-uspesna .wrapper {
    width: 100%;
  }
}
/*# sourceMappingURL=../maps/style.css.map */
